<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div id="greetings">
        <h1>Hi <span>{{m}}</span></h1>
        <p>Welcome To The CyberTracK Server</p>
        <a href="Home.html">Click To Home</a>
    </div>
</body>
<style>
    body {
        background: black;
    }
    #greetings {
        text-align: center;
        color: white;
        text-decoration: none;
        font-family: permanent marker;
    }
    #greetings h1 span {
        color: red;
        text-shadow: 0px 0px 26px red;
    }
    #greetings a {
        text-decoration: none;
        color: white;
    }
</style>
</html>